@page "/showsecrets"
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<h3>Show Secrets</h3>
This is for demo purposes only! Never transmit or show your secrets in plain text!

<h4>Showing secrets from the Key Vault "@Configuration["KeyVaultName"]"</h4>
<ul>
    <li>theSecret: @Configuration["theSecret"]</li>
</ul>

@code {

}
